<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic owners index</title>
</head>
<body>
<h1 th:text="'Owner index Page'">Index Page</h1>
 <table>
     <thead>
     <tr>
         <th>Id</th>
         <th>First name</th>
         <th>Last name</th>
     </tr>
     </thead>
     <tbody>
     <!--/*@thymesVar id="owners" type="java.util.Set"*/-->
     <!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstName}">1</td>
            <td th:text="${owner.lastName}">1</td>
            <td></td>
            <td></td>
        </tr>
     </tbody>
 </table>

</body>
</html>