<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'home')}" >
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic owners index</title>
</head>
<body>
<h1 th:text="Owners">Owners</h1>
 <table id="owners" class="table table striped">
     <thead>
     <tr>
         <th style="width:300px;">Id</th>
         <th style="width:300px;">First name</th>
         <th style="width:300px;">Last name</th>
     </tr>
     </thead>
     <tbody>
     <!--/*@thymesVar id="owners" type="java.util.Set"*/-->
     <!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
        <tr th:each="owner : ${owners}">
            <td style="width:300px;" th:text="${owner.id}">1</td>
            <td style="width:300px;" th:text="${owner.firstName}">1</td>
            <td style="width:300px;" th:text="${owner.lastName}">1</td>
        </tr>
     </tbody>
 </table>

</body>
</html>